body {
  text-align: center;
  background-color: #cdecfc;
}        
h1 {
background-color:#8ac3e0;
color: #fff;
padding: 20px;
text-align: center;
font-family: cursive
}
p {
    font-family: cursive;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
    background-color: #8ac3e0;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  p {
  font-family: cursive;
  text-align: center;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 10px;
  }
  
  button {
background-color: #8ac3e0;
color: white;
padding: 12px 30px;
border: none;
border-radius: 50px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3, transform 0.3, box shadow 0.3;
position: relative;
font-family: cursive;
  }
  button:hover {
  background-color:#8ac3e0;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1)
 }
  
  .parrafo {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(176, 94, 94, 0.1);
    float: right;
    height: 100px;
 }
 .sunooteamo {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(176, 94, 94, 0.1);
  float: left;
  height: 100px;
}
.comidafea {
width: 350px;
float: right;
margin-right: 50px;
height: 330px;
margin-bottom: 50px;
border-radius: 50px;
object-fit: cover;
justify-content: right;
}
.mani {
  width: 350px;
  float: left;
  margin-right: 50px;
  height: 330px;
  margin-bottom: 50px;
  border-radius: 50px;
  object-fit: cover;
  justify-content: left;

  }
    